<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user_list</title>
</head>
<body>



<table border="1">
    <thead>
    <tr>
        <th>编号</th>
        <th>账号</th>
        <th>密码</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
        <tr>
            <td style="color:red">{{user.user_id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>
                <a href="/delete/?user_id={{user.user_id}}">删除</a>
                <a href="/edit_user/?user_id={{user.user_id}}">编辑</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{% url 'register' %}">新增</a>
<a href="{% url 'blog_list' %}">博客</a>
</body>
</html>